caption {
    border: 1px solid black;
}

#N1{
    background-color:lightskyblue ;
}

#N2{
    background-color:white ;
}

#N3{
    background-color:lightskyblue ;
}

#N4{
    background-color:lightskyblue ;
}
